body {
	text-align: center;
	font-size: 1.50em;
	font-family: Staatliches, cursive;
	color: #416091;
	background-color:#3a79e0;
	background-image:url(sky.jpg);  
}
p {
	font-family: VT323, monospace;
}